<%= render "shared/header" %>
<div class='main'>

  <div class='main-high'>
    出かけよう！
    <div>
      <%= link_to '国内', root_path %>
      <%= link_to '海外', root_path %>
    </div>
  </div>

  <div class='main-low'>
    <div>
      <%= link_to '体験を投稿', new_trip_path %>
    </div>
    <p>trip一覧</p>
    <% @trips.each do |trip| %>
      <div class='trip-info'>
        <div class='trip-photo'>
          <%= link_to trip_path(trip.id) do %>
            <div class='trip-photo-content'>
              <%= image_tag trip.photos[0].variant(resize: '500x500') %>
            </div>
          <% end %>
        </div>
        <div class='trip-'>
          <h2>都道府県 <%#=  %><%= trip.title %></h2>
          <h3 class='trip-name'>
            <%= trip.attraction.name %>
            <%= trip.evaluation.name%>
          </h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/hooter"%>
