<%= render "shared/header" %>
<div class='trip-show-info'>
  <div class='trip-show'>
    <%= @trip.title %>
    <div class=''>
      <%= @trip.attraction.name %>
      <%= @trip.evaluation.name %>
    </div>
    <div>
      <%= safe_join(@trip.impressions.split("\n"),tag(:br)) %>
    </div>
    <div>
      <%= @trip.user.nickname %>
    </div>

    <div class='show-photos'>
      <% @trip.photos.each do |photo| %>
        <div class='show-photo'>
          <%=image_tag photo.variant(resize: '500x500') %>
        </div>
      <%end%>
    </div>

    <% if user_signed_in? %>
      <% if current_user.id == @trip.user_id %>
        <div class=''>
          <%= link_to '編集', edit_trip_path(@trip.id) %>
          <%= link_to '削除', trip_path(@trip.id), method: :delete %>
        </div>
      <%end%>
      <%= form_with(model: [@trip, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>

    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>

          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/hooter" %>